## Домашнее задание. День 7

### Задача 1. Объединение данных с использованием merge и concat

1. Создайте два DataFrame:
    - Первый DataFrame `df1` должен содержать столбцы `id`, `name` и `age`.
    - Второй DataFrame `df2` должен содержать столбцы `id`, `salary` и `department`.
2. Объедините эти два DataFrame с использованием метода merge по столбцу `id`.
3. Создайте третий DataFrame `df3`, который содержит столбцы `id`, `bonus` и `year`.
4. Объедините все три DataFrame с использованием метода concat по оси 0.

In [6]:
# Решение
import pandas as pd

file1_path = '/Users/parvizjon/python-practicу-module-pandas-data-connection/python-practicу-module-pandas-data-connection/accounts_more_info.xlsx'
file2_path = '/Users/parvizjon/python-practicу-module-pandas-data-connection/python-practicу-module-pandas-data-connection/accounts_card_info.xlsx'

df1 = pd.read_excel(file1_path)
df2 = pd.read_excel(file2_path)

print("Данные из accounts_more_info.xlsx:")
print(df1.head())

print("\nДанные из accounts_card_info.xlsx:")
print(df2.head())

df1.columns = ['id', 'balance', 'currency']

df2.columns = ['id', 'customer_id', 'account_type', 'card_type']

merged_df = pd.merge(df1, df2, on='id')
print("\nОбъединённый DataFrame по столбцу 'id':")
print(merged_df)

data3 = {
    'id': [1, 2, 3, 4, 5],
    'bonus': [500, 700, 450, 600, 800],
    'year': [2023, 2023, 2023, 2023, 2023]
}
df3 = pd.DataFrame(data3)
print("\nТретий DataFrame df3:")
print(df3)

concat_df = pd.concat([merged_df, df3], axis=0, ignore_index=True)
print("\nКонкатенированный DataFrame по оси 0:")
print(concat_df)

Данные из accounts_more_info.xlsx:
   acc_id  balance currency
0       3      369      EUR
1       7      178      EUR
2       2      888      RUB
3       4      683      RUB
4       8      795      USD

Данные из accounts_card_info.xlsx:
   acc_id  customer_id account_type    card_type
0       6            2      Savings         VISA
1       1            6      Savings  KORTI MILLI
2       4            9     Checking   MASTERCARD
3       4            5     Spending  KORTI MILLI
4       8            1     Checking         VISA

Объединённый DataFrame по столбцу 'id':
      id  balance currency  customer_id account_type    card_type
0      3      369      EUR            6      Savings   MASTERCARD
1      3      369      EUR            5      Savings  KORTI MILLI
2      3      369      EUR            4     Checking  KORTI MILLI
3      3      369      EUR            6     Checking   MASTERCARD
4      3      369      EUR            8     Spending  KORTI MILLI
...   ..      ...      ...          ...          ...          ...
4435   9      735      RUB            4      Savings         VISA
4436   9      735      RUB            4     Checking  KORTI MILLI
4437   9      735      RUB            8     Checking  KORTI MILLI
4438   9      735      RUB            6     Checking   MASTERCARD
4439   9      735      RUB            7      Savings  KORTI MILLI

[4440 rows x 6 columns]

Третий DataFrame df3:
   id  bonus  year
0   1    500  2023
1   2    700  2023
2   3    450  2023
3   4    600  2023
4   5    800  2023

Конкатенированный DataFrame по оси 0:
      id  balance currency  customer_id account_type    card_type  bonus  \
0      3    369.0      EUR          6.0      Savings   MASTERCARD    NaN
1      3    369.0      EUR          5.0      Savings  KORTI MILLI    NaN
2      3    369.0      EUR          4.0     Checking  KORTI MILLI    NaN
3      3    369.0      EUR          6.0     Checking   MASTERCARD    NaN
4      3    369.0      EUR          8.0     Spending  KORTI MILLI    NaN
...   ..      ...      ...          ...          ...          ...    ...
4440   1      NaN      NaN          NaN          NaN          NaN  500.0
4441   2      NaN      NaN          NaN          NaN          NaN  700.0
4442   3      NaN      NaN          NaN          NaN          NaN  450.0
4443   4      NaN      NaN          NaN          NaN          NaN  600.0
4444   5      NaN      NaN          NaN          NaN          NaN  800.0

        year
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
4440  2023.0
4441  2023.0
4442  2023.0
4443  2023.0
4444  2023.0

[4445 rows x 8 columns]

### Задача 2. Объединение данных с использованием join

1. Создайте два DataFrame:
    - Первый DataFrame `df1` должен содержать столбцы `id`, `product` и `price`.
    - Второй DataFrame `df2` должен содержать столбцы `id`, `quantity` и `supplier`.
2. Установите столбец `id` в качестве индекса для обоих DataFrame.
3. Объедините эти два DataFrame с использованием метода `join`.

In [10]:
# Решение 
import pandas as pd

file1_path = '/Users/parvizjon/python-practicу-module-pandas-data-connection/python-practicу-module-pandas-data-connection/accounts_more_info.xlsx'
file2_path = '/Users/parvizjon/python-practicу-module-pandas-data-connection/python-practicу-module-pandas-data-connection/accounts_card_info.xlsx'

df1 = pd.read_excel(file1_path)
df2 = pd.read_excel(file2_path)

df1.columns = ['acc_id', 'product', 'price']
df2.columns = ['acc_id', 'customer_id', 'account_type', 'card_type']

df1.set_index('acc_id', inplace=True)
df2.set_index('acc_id', inplace=True)

joined_df = df1.join(df2, how='inner')  

print("Объединённый DataFrame:")
print(joined_df)

Объединённый DataFrame:
        product price  customer_id account_type    card_type
acc_id
3           369   EUR            6      Savings   MASTERCARD
3           369   EUR            5      Savings  KORTI MILLI
3           369   EUR            4     Checking  KORTI MILLI
3           369   EUR            6     Checking   MASTERCARD
3           369   EUR            8     Spending  KORTI MILLI
...         ...   ...          ...          ...          ...
9           735   RUB            4      Savings         VISA
9           735   RUB            4     Checking  KORTI MILLI
9           735   RUB            8     Checking  KORTI MILLI
9           735   RUB            6     Checking   MASTERCARD
9           735   RUB            7      Savings  KORTI MILLI

[4440 rows x 5 columns]

### Задача 3. Работа в классе

У вас есть три таблицы с данными `cw_task`, `account_card_info` и `account_more_info`. Необходимо:

1) Дополнить  инфомацию `cw_task`, которая хранится в двух файлах `account_more_info` и `account_card_info`;
2) По полученным данным найти максимальное значение, минимальное, сумму, кол-во и среднее значение по типу платежа. В данном пункте также необходимо произвести обработку дубликатов, в случае их возникновения;
3) Таблицы по  `account_more_info & account_card_info` объединить таким образом, чтобы новая таблица имела дополнительные колонки из второй таблицы, а также объединить так чтобы строки из одной таблицы были добавлены во вторую;
4) Добавьте кросс-чеки которые будут выявлять ошибки в случае некорректного слияния данных: кол-во строк должно быть равно первоначальной длине `df` и не должно быть дубликатов по `transaction_id`

In [18]:
# Решение
import pandas as pd

account_more_info_path = '/Users/parvizjon/python-practicу-module-pandas-data-connection/python-practicу-module-pandas-data-connection/accounts_more_info.xlsx'
account_card_info_path = '/Users/parvizjon/python-practicу-module-pandas-data-connection/python-practicу-module-pandas-data-connection/accounts_card_info.xlsx'
cw_task_path = '/Users/parvizjon/python-practicу-module-pandas-data-connection/python-practicу-module-pandas-data-connection/cw_task.xlsx'

account_more_info = pd.read_excel(account_more_info_path)
account_card_info = pd.read_excel(account_card_info_path)
cw_task = pd.read_excel(cw_task_path)

cw_task = cw_task.merge(account_more_info, left_on='account_id', right_on='acc_id', how='left')
cw_task = cw_task.merge(account_card_info, on='customer_id', how='left')
duplicates = cw_task[cw_task.duplicated(subset='transaction_id', keep=False)]
if not duplicates.empty:
    print("Обнаружены дубликаты по transaction_id:")
    print(duplicates)

cw_task_unique = cw_task.drop_duplicates(subset='transaction_id')
aggregation_result = cw_task_unique.groupby('deb_type').agg(
    max_amount=('amount', 'max'),
    min_amount=('amount', 'min'),
    total_amount=('amount', 'sum'),
    count=('amount', 'count'),
    avg_amount=('amount', 'mean')
).reset_index()

print(aggregation_result)

initial_length = len(cw_task)
final_length = len(cw_task_unique)

if initial_length == final_length:
    print("Количество строк совпадает с первоначальной длиной.")
else:
    print(f"Количество строк изменилось: из {initial_length} в {final_length}.")

Обнаружены дубликаты по transaction_id:
        transaction_id  customer_id  amount deb_type  account_id  acc_id_x  \
0                    1            6      83    Компы           6         6
1                    1            6      83    Компы           6         6
2                    1            6      83    Компы           6         6
3                    1            6      83    Компы           6         6
4                    1            6      83    Компы           6         6
...                ...          ...     ...      ...         ...       ...
100313             200            9     421    Компы           9         9
100314             200            9     421    Компы           9         9
100315             200            9     421    Компы           9         9
100316             200            9     421    Компы           9         9
100317             200            9     421    Компы           9         9

        balance currency  acc_id_y account_type    card_type
0           335      USD         1      Savings  KORTI MILLI
1           335      USD         6     Checking         VISA
2           335      USD         3      Savings   MASTERCARD
3           335      USD         9     Checking         VISA
4           335      USD         2     Checking  KORTI MILLI
...         ...      ...       ...          ...          ...
100313      735      RUB         7     Spending         VISA
100314      735      RUB         5     Spending         VISA
100315      735      RUB         6      Savings  KORTI MILLI
100316      735      RUB         4      Savings         VISA
100317      735      RUB         4      Savings  KORTI MILLI

[100318 rows x 11 columns]
      deb_type  max_amount  min_amount  total_amount  count  avg_amount
0          Еда         487          66         14737     48  307.020833
1        Компы         492          52         14721     50  294.420000
2  Путешествия         496          54         11450     47  243.617021
3        Учеба         499          54         15223     55  276.781818
Количество строк изменилось: из 100318 в 200.